# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/cloud_deployment/dev/postgres-ssl-cert.yaml
/cloud_deployment/dev/test-psql-client.yaml
/root.crt
/rootcrt.b64
/instructions.txt
/cloud_deployment/dev/django-secrets.yaml
/cloud_deployment/dev/django-config.yaml
